html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  margin: 0;
}

.wrapper {
  max-width: 1219px;
  margin: 0 auto;
  padding: 0 55px;
}

.header {
  background-color: #007765;
  height: 84px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header__logo:hover {
  opacity: 0.75;
}

#theproblem,
#pied,
#team {
  border-top: 84px solid transparent;
  margin-top: -84px;
  background-clip: padding-box;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 8px;
}

.header__list:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.75;
}

.section-1 {
  background: url(/img/intro-bg.jpg) no-repeat center;
  background-size: cover;
}

.section-1__text {
  margin: 84px 0 84px 0;
  padding: 160px 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
}

.section-2 {
  background-color: #eee;
  padding: 0 55px 92px 55px;
}

.section-2__text {
  padding-top: 48px;
  color: #007765;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}

.p__text {
  margin: 0 auto;
  padding-top: 16px;
  max-width: 1110px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.section-3 {
  background: url(img/section-3-bg.png) no-repeat center;
  background-size: cover;
  padding: 128px 559px;
}

.p__text-2 {
  margin: 0 auto;
  max-width: 893px;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
}

.section-4 {
  padding-bottom: 176px;
}

.h1__section-4 {
  padding-top: 48px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}

.introduce-ico {
  padding-bottom: 35px;
  padding-right: 48px;
  float: left;
}

.p__text-3-1 {
  margin: 0 auto 40px auto;
  max-width: 1110px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.p__text-3-2 {
  margin: 0 auto;
  max-width: 1110px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.section-5 {
  background-color: #eee;
}

.h1__section-5 {
  padding-top: 58px;
  padding-bottom: 56px;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}

.members {
  text-align: center;
  padding-bottom: 82px;
}

.member-1,
.member-2,
.member-3 {
  padding-right: 212px;
  display: inline-block;
}

.member-1:last-child,
.member-2:last-child,
.member-3:last-child {
  padding: 0;
}

.members-2 {
  text-align: center;
  padding-bottom: 112px;
}

.member-4,
.member-5,
.member-6 {
  padding-right: 212px;
  display: inline-block;
}

.member-4:last-child,
.member-5:last-child,
.member-6:last-child {
  padding: 0;
}

.p__name {
  padding-top: 12px;
  margin: 0;
  color: #007765;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.p__name-2 {
  margin: 0;
  color: #000;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.section-6 {
  background-color: #333;
}

.p__text-4 {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 62px;
  max-width: 540px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
}
